<div>
  <div>
    <h1>
      List of all favourites
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new favourite
    </h2>

    <form action="/insert_favourite" method="post">
      
      <div>
        <label for="project_id_box">
          Project
        </label>


        <select name="query_project_id" id="project_id_box">
        <% Project.all.order(:name).each do |a_project| %>
        <option value="<%= a_project.id %>"><%= a_project.name %></option> <% end %>
        </select>

      <button>
        Create favourite
      </button>
    </form>
    </div>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Project
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_favourites.each do |a_favourite| %>
      <tr>

        <td>
          <a href="/projects/<%= a_favourite.project_id %>"><%= a_favourite.project.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_favourite.created_at) %> ago
        </td>

        <td>
          <a href="/delete_favourite/<%= a_favourite.id %>">
            Un-favourite
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
